<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>opciones</ion-title>
  
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--cards de las diferentes opciones-->
  <ion-list>
    <!--inicio-->
    <ion-item>
      <ion-badge style="background-color: white;" class="espacioImagen" slot="start"><img class="icon" src="assets/cuadrado.jpg" alt=""></ion-badge>
      <ion-label><h1>Inicio</h1></ion-label>
    </ion-item>
    <!--ayuda-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <!--trabajadores-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <!--clientes-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <!--turnos-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <!--apariencia-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <!--salir-->
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
  </ion-list>
  
<!--tres botones del fondo-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="home"></ion-icon>
        Menu
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="calendar"></ion-icon>
        Agenda
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="menu"></ion-icon>
        Más
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<!--fin de los botones-->

</ion-content>
