.espacioItem{
    margin-top: 10% !important;
}

.espacioprimerItem{
    margin-top: 5% !important;
}

.tamano-icon{
    height: 2.8rem; 
    width: 3rem;
}

.texto{
    text-decoration: none;
}

h1{
    font-size: 1.3rem;
    color: black;
}