.icono-avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 8%;
    height: 150px;
    width: 150px;
}

.titulo-sesion{
    font-size: 40px;
    text-align: center;
}

.input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 60%;
}

.botonRecuerdame{
    margin-top: 1%;
    margin-left: 18%;
}

.divRecuerdame{
    margin-left: 25%;
    position: relative;
    bottom: 4.7%;
    font-size: 14px;
}

.divContrasena{
    margin-left: 49%;
    position: relative;
    bottom: 8.5%;
    font-size: 14px;
}

.botonIngresar{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
}

.divRegistro{
    text-align: center;
    margin-top: 7%;
}

.botonRegistro{
    margin-left: auto;
    margin-right: auto;
}