.icono-avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 8%;
    height: 150px;
    width: 150px;
}

.titulo-sesion{
    font-size: 40px;
    text-align: center;
}

.input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 60%;
}

.checkboxRecuerdame{
    margin-top: 3%;
    margin-left: 20%;
}

.textContrasena{
    margin-left: 15.5%;
    bottom: 0.5%;
    position: relative;
}

.botonIngresar{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
}

.divRegistro{
    text-align: center;
    margin-top: 7%;
}
.botonRegistroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Ajusta la separación según lo necesites */
}
  
  
.botonRegistro{
    margin-left: auto;
    margin-right: auto;
}