<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Seleccione los días a trabajar</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-list lines="none">
            <ion-item>
              <ion-checkbox justify="start">Domingo</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Lunes</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Martes</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Miércoles</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Jueves</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Viernes</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">Sábado</ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Seleccione los horarios a trabajar</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-list lines="none">
            <ion-item>
              <ion-checkbox justify="start">08:00 AM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">09:00 AM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">10:00 AM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">11:00 AM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">12:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">13:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">14:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">15:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">16:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">17:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">18:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">19:00 PM</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox justify="start">20:00 PM</ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div class="ion-text-center">
    <ion-button fill="outline">Confirmar horarios</ion-button>
  </div>
</ion-content>
