.agenda {
    width: 90%; /* Ajusta el ancho según sea necesario */
    height: 80%;
    max-width: 500px; /* Opcional: Limita el ancho máximo del componente */ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.custom-popover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
  }