<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Turnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="onSearch()" 
    placeholder="Buscar turnos">
  </ion-searchbar>

  <ion-card *ngFor="let turno of filteredTurnos">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="6" style="padding: 0;"> 
            <ion-card-header>
              <ion-card-title class="nombre">{{turno['Nombre_Cliente']}} {{turno['Apellido_Cliente']}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{turno['Servicio']}}</ion-card-content>
          </ion-col>
          <ion-col size="6">
            <ion-card-title>{{turno['Fecha']}}</ion-card-title>
            <ion-card-title>{{turno['Hora']}}</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </ion-card>

</ion-content>