  <!-- Contenido del Popover -->

    <ion-chip>
      <ion-avatar>
        <img class="avatarPopover" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-text>Ada Colman</ion-text><br>
        <ion-text>17:00 hs</ion-text><br>
        <ion-text>Uñas esculpidas</ion-text>
      </ion-label> 
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img class="avatarPopover" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-text>Ada Colman</ion-text><br>
        <ion-text>17:00 hs</ion-text><br>
        <ion-text>Uñas esculpidas</ion-text>
      </ion-label> 
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img class="avatarPopover" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-text>Ada Colman</ion-text><br>
        <ion-text>17:00 hs</ion-text><br>
        <ion-text>Uñas esculpidas</ion-text>
      </ion-label> 
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img class="avatarPopover" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-text>Ada Colman</ion-text><br>
        <ion-text>17:00 hs</ion-text><br>
        <ion-text>Uñas esculpidas</ion-text>
      </ion-label> 
    </ion-chip>
