ion-grid {
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina relleno interno */
  }
  
ion-avatar {
    width: 100%; /* Ocupa todo el ancho del ion-col */
    height: 100%; /* Ocupa todo el alto del ion-col */
    display: flex; /* Usamos flex para centrar la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  

ion-card-header{
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 12px;
}

ion-card-content{
  padding-left: 12px;
}

.fab-button {
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 16px;    /* Distancia desde la parte inferior */
  right: 16px;     /* Distancia desde la derecha */
  z-index: 1000;   /* Asegúrate de que esté encima de otros elementos */
  background-color: red; /* Color de fondo para visibilidad */
  color: white;  
  border-radius: 50%; /* Hacer el botón circular */
  height: 56px; /* Tamaño del botón */
  width: 56px; /* Tamaño del botón */
}
