<ion-header>
  <ion-toolbar>
    <!-- Botón para volver -->
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Texto "Agenda" -->
    <ion-title>Trabajadores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>
<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Filtrar por">
            <ion-select-option value="apples">Nombre</ion-select-option>
            <ion-select-option value="oranges">Apellido</ion-select-option>
            <ion-select-option value="bananas">Antiguedad</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="outline">Agregar cliente</ion-button>
    </ion-col>
  </ion-row>
<ion-content>
  <ion-card *ngFor="let trabajador of Trabajadores">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img class="img" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="5"> 
          <ion-card-header>
            <ion-card-title class="nombre">{{trabajador['Nombre']}} {{trabajador['Apellido']}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{trabajador['Telefono']}}</ion-card-content>
        </ion-col>
        <ion-col size="4">
          <ion-button class="boton">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button class="boton">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-card>
  
  </ion-content>

