<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trabajadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="onSearch()" 
    placeholder="Buscar trabajadores">
  </ion-searchbar>

  <ion-grid>
    <ion-card *ngFor="let trabajador of filteredTrabajadores">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="3" style="padding-left: 4%;">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="5" style="padding: 0;"> 
            <ion-card-header>
              <ion-card-title class="nombre">{{trabajador['Nombre']}} {{trabajador['Apellido']}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{trabajador['Telefono']}}</ion-card-content>
          </ion-col>
          <ion-col size="4" style="padding-right: 3px;">
            <ion-button class="boton">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button class="boton">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </ion-card>
  </ion-grid>

  <ion-button class="fab-button"> <ion-icon name="add"></ion-icon>
  </ion-button>
  
</ion-content>
