<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trabajadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="onSearch($event)" 
    placeholder="Buscar trabajadores">
  </ion-searchbar>

  <ion-grid>
    <ion-card *ngFor="let trabajador of filteredTrabajadores">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="3" style="padding-left: 4%;">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="5" style="padding: 0;"> 
            <ion-card-header>
              <ion-card-title class="nombre">{{trabajador['Nombre']}} {{trabajador['Apellido']}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{trabajador['Telefono']}}</ion-card-content>
          </ion-col>
          <ion-col size="4" style="padding-right: 3px;">
            <ion-button class="boton">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button class="boton" (click)="confirmarEliminacion(trabajador['ID'])">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </ion-card>
  </ion-grid>

  <div class="ion-padding">
    <ion-fab class="fab-button">
      <ion-fab-button id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <!-- Botones de control: Cancelar y Confirmar -->
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Agregar cliente</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <ion-content class="ion-padding">
          <!-- Formulario del modal -->
          <ion-item>
            <ion-input labelPlacement="floating" label= "Nombre" type="text" placeholder="Ingrese su nombre" [(ngModel)]="name"
            name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label= "Apellido" type="text" placeholder="Ingrese su apellido" [(ngModel)]="surname"
            name="surname" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label= "DNI" type="text" placeholder="Ingrese su DNI" [(ngModel)]="dni"
            name="dni" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label= "Teléfono" type="text" placeholder="Ingrese su teléfono" [(ngModel)]="phone"
            name="phone" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label="Correo" type="email"  placeholder="ejemplo@gmail.com" [(ngModel)]="mail"
            name="mail" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label= "Profesión" type="text" placeholder="Ingrese su profesión" [(ngModel)]="profesion"
            name="profesion" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label= "Contraseña" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"
            name="password" required></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  
</ion-content>
